<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Controle de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Controle de Estoque</h1>

   <form method="GET" action="/pesquisar" style="margin-bottom: 20px;">
        <input type="text" name="termo" placeholder="Pesquisar produto" value="{{ termo or '' }}" required>
        <button type="submit">Buscar</button>
        <a href="/" class="botao-limpar">Limpar</a>
    </form>

    <h2>Adicionar Produto</h2>
    <form method="POST" action="/adicionar">
        <input type="text" name="nome" placeholder="Nome do produto" required>
        <input type="number" step="0.01" name="preco" placeholder="Preço (R$)" required>
        <input type="number" name="quantidade" placeholder="Quantidade" required>
        <button type="submit">Adicionar</button>
    </form>

    <h2>Lista de Produtos</h2>
    {% if produtos %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço (R$)</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{produto[0]}}</td>
                    <td>{{produto[1]}}</td>
                    <td>{{"%.2f"|format(produto[2])}}</td>
                    <td>{{produto[3]}}</td>
                    <td>
                        <form method="POST" action="/excluir/{{ produto[0] }}" style="display:inline;">
                            <button type="submit" onclick="return confirm('Deseja excluir este produto?')" style="background-color:red; color:white;">
                                Excluir
                            </button>
                        </form>

                        <form action="/baixar/{{ produto[0] }}" method="post" style="display:inline;">
                            <input type="number" name="quantidade_baixa" min="1" max="{{ produto[3] }}" required style="width: 100px;">
                            <button type="submit" style="background-color: green; color:white;">Dar Baixa</button>
                        </form>
                        <form action="/repor/{{ produto[0] }}" method="post" style="display: inline;">
                            <input type="number" id="quantidade_repor" name="quantidade_repor" min="1" max="{{ produto[1]}}" required style="width: 100px;">
                            <button type="submit">Repor Estoque</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhum produto cadastrado.</p>
    {% endif %}
</body>
</html>
